body {
font-family: "Montserrat", Arial, -apple-system-body, sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
a {
text-decoration: none;}
.header {
    background: #DC291B;
    color: white;
    position: relative;
    -webkit-box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    z-index: 3;
}
.header.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.wrapper {
/* max-width: 1190px;*/
    /* margin: 0 auto; */
    padding: 0 15px;
    /*width: 100%;*/
}

.header-container {
display: flex;
justify-content: space-between;
align-items: center;
height: 140px;
z-index: 2;
position: relative;
}

@media only screen and (max-height: 1081px) {
.header-container {
height: 100px;
}
}

.header-logo {
align-items: center;
width: 340px;
/*margin-right: 40px;*/
}

@media only screen and (max-width: 1081px) {
.header-logo {
width: 370px;
}
}

.header-logo-image {
max-width: 100%;
max-height: 100%;
vertical-align: top;
}

.header-text-buttons {
font-size: 2.7vw;
color: white;
word-spacing: -2px;
}
@media only screen and (max-width: 980px) {
.header-text-buttons {
display: none;
}
}

.header-side-menu {
width: 37px;
    height: 37px;
    background: url(assets/img/menu.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    }

.nav-open .header-side-menu {
    background: url(assets/img/close.png) no-repeat;
    background-size: 100%;
    }

.header-nav {
    opacity: 0;
    transform: translateX(100px);
    background: #DC291B;
    position: fixed;
    margin-left: 50%;
    width: 50%;
    pointer-events: none;
    transition: all ease .3s;
    z-index: 1;
    margin-top: -10px;
    border-radius: 10px;
    }

@media only screen and (max-width: 1081px) {
.header-nav {
width: 70%;
margin-left: 30%;
}
}

@media only screen and (max-width: 544px) {
.header-nav {
width: 85%;
margin-left: 15%;
}
}
.nav-open .header-nav {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    }
.header-nav-link{
font-size: 45px;
color: white;
}

@media only screen and (max-height: 870px) {
.header-nav-link{
font-size: 5vh;
}
}

@media only screen and (max-width: 413px) {
.header-nav-link{
font-size: 10vw;
}
}
.header-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;}
.header-nav-list li {
    margin-bottom:29px;}

@media only screen and (max-height: 870px) {
.header-nav-list li {
margin-bottom:1vh;
}
}

.slideshow {
height:280px;
overflow: hidden;
position: relative;
margin-left: 0vw;
transition: margin-left .5s;}

@media only screen and (max-height: 1081px) {
.slideshow {
height: 200px;
}}

.slideshow{
align-items: center;
display:flex;}

.slideshow-images{
align-items: center;
display:flex;
flex-direction: row;}

.slide-show-image-container span {
    background: #BA0000ab;
    color: #fff;
    position: absolute;
    font-weight: 500;
    padding: 3px 10px;
    font-size: 20px;
    max-width: 59vw;
    margin: 0 0 6px 6px;
    bottom: 0;
}
@media (min-width: 835px) {
.slide-show-image-container span {
font-size: 30px;
max-width: 40vw;
}
}

.slideshow-image{
width: 100vw;}

.slideshow-button {
  cursor: pointer;
  max-height: 30px;
  max-width: 30px;
  width: 17vw;
  height: 17vw;
  margin: 0 2px;
  margin-top: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-button-lit{
  background-color: #999;
}

.slideshow-controls {
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 15px;
}

.about-us {
display: flex;
flex-direction: column;
overflow-wrap: break-word;
}

h1 {
font-size: 30px;
text-align: center;
}

.about-us-text {
font-size: 20px;
padding: 0 10px;
margin-top: 15px;
}

.about-text-p {
margin: 14px 0;
}

.about-list {
padding-left: 40px;
}

.bottom-header {
    background: #BA0000;
    color: white;
    position: relative;
    margin-top: 40px;
    -webkit-box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    z-index: 3;
}

.bottom-header-container {
display: flex;
}

